<div class="header">
    <nav>
        <ul>
            <li onclick="getHome()" title="homepage"><i class="fa-solid fa-house" style="color: #ffffff;"></i></li>
            <li onclick="getCategories()">categories</li>
            <li onclick="getnotes()">notes</li>
            <li onclick="getProfile()" title="profile"><i class="fa-solid fa-user" style="color: #ffffff;"></i></li>
        </ul>
        <div class="log">
            <span class="log" onclick="login()" title="login"><i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i></span>
            <span class="log" onclick="logout()" title="logout"><i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i></span>
        </div>
    </nav>
</div>
<script src="/js/header.js"></script>