.categories-container{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin: 30px 10px;
}

.category-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    border-radius: 7px;
    background-color:  rgb(255, 100, 0);
    color:black;
    margin:10px 20px;
    box-shadow: 3px 2px 5px black;
}
.category-card h2{
    font-size: x-large;
    font-weight: bold;
}