<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New password</title>
</head>
<body>
    <form id="newPasswordForm">
        <input type="text" id="otp" placeholder="Enter Your OTP" required>
        <input type="password" id="newPassword" placeholder="New Password" required>
        <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">Change Password</button>
        <a href="/login">Login</a>
    </form>
    <script src="./js/newPassword.js"></script>
</body>
</html>