<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>
    <h2>Register</h2>
    <form id="registerForm">
        <input type="text" id="firstName" placeholder="First Name" required>
        <input type="text" id="lastName" placeholder="Last Name" required>
        <input type="text" id="username" placeholder="username" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="password" required>
        <button type="submit">Register</button>
        <a href="/login">Login</a>
    </form>
    <script src="./js/register.js"></script>
</body>

</html>