<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>forgot_password</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/generalStyles.css">
  </head>
  <body>
    <%-include('./partials/header.ejs')%>
    <div class="container">
      <form id="forgot_password" onsubmit="handleSubmit(event)">
        <h2>forgot password</h2>
        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" type="email" />
        </div>

        <button type="submit">send</button>
        <p id="alertMessage"></p>
      </form>
      <button id="reset_password" style="display: none">
        <a href="/render_reset_password">reset password</a>
      </button>
    </div>
    <script src="/js/forgot_password.js"></script>
  </body>
</html>
