<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login_verify</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/generalStyles.css">
  </head>
  <body>
    <%-include('./partials/header.ejs')%>
    <div class="container">
      <form id="Login_verify" onsubmit="handleSubmit(event)">
        <div class="form-group">
          <label for="username">username:</label>
          <input id="username" type="text" />
        </div>

        <div class="form-group">
          <label for="otpCode">otpCode:</label>
          <input id="otpCode" type="text" />
        </div>

        <button type="submit">send</button>
        <p id="alertMessage"></p>
      </form>
    </div>
    <script src="/js/Login_verify.js"></script>
  </body>
</html>
