<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reset_password</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/generalStyles.css">
  </head>
  <body>
    <%-include("./partials/header.ejs")%>
    <div class="container">
      <form id="reset_password" onsubmit="handleSubmit(event)">
        <h2>reset password</h2>
        <div class="form-group">
          <label for="password_reset_token">password reset token:</label>
          <input id="password_reset_token" type="password" />
        </div>

        <div class="form-group">
          <label for="newPassword">NewPassword:</label>
          <input id="newPassword" type="password" />
        </div>

        <div class="form-group">
          <label for="confirmPassword">ConfirmPassword:</label>
          <input id="confirmPassword" type="password" />
        </div>

        <button type="submit">send</button>
        <p id="alertMessage"></p>
      </form>
    </div>
    <script src="/js/reset_password.js"></script>
  </body>
</html>
