<div class="sidebar">
    <div class="search_box">
        <input type="text" class="search_input">
        <button id="search_btn"><i class="fa fa-search"></i></button>
    </div>

    <ul class="friends">
        <% for( let friend of friends ) { %>
        <li id=<%=friend%>>
            <span class="friend_name"><%=friend%></span> 
            <button onclick="openChatRoom('<%=friend%>')">chat</button>
        </li>
        <% } %>
    </ul>
</div>